<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397187573277-1mha8amheo70a3fl120eoq8hodk4ptp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397187573277-1mha8amheo70a3fl120eoq8hodk4ptp6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397187573277-to5ob7mcjupjj48utfmifv5qf4p4f9bk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3IsO505RbxYnXy9So8mQXZe2JgmTVZC4</string>
	<key>GCM_SENDER_ID</key>
	<string>397187573277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arabdevelopers.souqnagran</string>
	<key>PROJECT_ID</key>
	<string>najrangate-9be93</string>
	<key>STORAGE_BUCKET</key>
	<string>najrangate-9be93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397187573277:ios:8bf4932a35cd8dd6ba08f4</string>
	<key>DATABASE_URL</key>
	<string>https://najrangate-9be93.firebaseio.com</string>
</dict>
</plist>